﻿<div class="col-md-6 col-md-offset-3">
    <h2>You are logged as {{currentUser.firstName}}!</h2>
    <p>Start a game</p>
    <button [routerLink]="['/game']" class="btn btn-primary">Start</button>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>